@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cyrillic-ext");

@font-face {
  font-family: "Ceremonious";
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BravoRGRegular";
  font-display: swap;
  src: url("../fonts/BravoRGRegular.woff") format("woff"), url("../fonts/BravoRGRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFDin";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFDin";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #1c242a;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 2;
  width: 144px;
}

.menu {
  padding: 0px 0px 0px 3.15789%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list li {
  margin: 0px 15px;
}

.menu__link,
.actions-header__region {
  font-family: "PFDin";
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #fff;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header__region {
  position: relative;
  z-index: 2;
  padding: 0px 0px 0px 30px;
  line-height: 18px;
  min-width: 18px;
  min-height: 18px;
  background: url("../img/icons/globe.png") left no-repeat;
}

.actions-header__user {
  margin: 0px 0px 0px 30px;
}

.user-header__icon {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.user-header__menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 88px;
  right: 0;
  position: absolute;
  background-color: #1c242a;
  padding: 20px;
  min-width: 176px;
}

.user-header__menu li {
  margin: 0px 0px 8px 0px;
}

.user-header__menu li:last-child {
  margin: 0px 0px 0px 0px;
}

.user-header__menu._active {
  opacity: 1;
  visibility: visible;
  top: 78px;
}

.user-header__link {
  color: #fff;
  padding: 0px 0px 0px 30px;
  display: inline-block;
  line-height: 18px;
}

.user-header__link_1 {
  background: url("../img/icons/menu/01.png") 1px center no-repeat;
}

.user-header__link_2 {
  background: url("../img/icons/menu/02.png") left center no-repeat;
}

.user-header__link_3 {
  background: url("../img/icons/menu/03.png") 4px center no-repeat;
}

.user-header__link_4 {
  background: url("../img/icons/menu/04.png") left center no-repeat;
}

/*
	//Burger
	.icon-menu {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: calc(50% - 1px);left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto; bottom: 0px;}
		}
		&._active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: calc(50% - 1px);}
				&:last-child{@include rotate(45deg);bottom: calc(50% - 1px);}
			}
		}
	}
*/

@media (min-width: 992px) {
  .menu__link:hover,
  .actions-header__region:hover {
    text-decoration: underline;
  }

  .user-header__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 890px) {
  .actions-header__region {
    padding: 0px 0px 0px 0px;
  }

  .actions-header__region span {
    display: none;
  }

  .actions-header__user {
    margin: 0px 0px 0px 15px;
  }
}

@media (max-width: 767.98px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .menu__body {
    background-color: rgba(28, 36, 42, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding: 130px 0px 20px 0px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
  }

  .menu__body:after {
    content: "";
    background-color: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 30px 0px;
  }

  .menu__list li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .menu__link,
  .actions-header__region {
    font-size: 24px;
  }

  .icon-menu {
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #bb9c66;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .actions-header__region {
    margin: 50px 0px 0px 0px;
    display: inline-block;
    padding: 0px 0px 0px 30px;
  }

  .actions-header__region span {
    display: inline-block;
  }

  .user-header__menu {
    width: 100%;
  }
}

.webp .actions-header__region{ background: url(../img/icons/globe.webp) left no-repeat; }

.webp .user-header__link_1{ background: url(../img/icons/menu/01.webp) 1px center no-repeat; }

.webp .user-header__link_2{ background: url(../img/icons/menu/02.webp) left center no-repeat; }

.webp .user-header__link_3{ background: url(../img/icons/menu/03.webp) 4px center no-repeat; }

.webp .user-header__link_4{ background: url(../img/icons/menu/04.webp) left center no-repeat; }