.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #1c242a;
	// .header__container
	&__container {
    display: flex;
    align-items: center;
    height: 75px;
    position: relative;
    @media (max-width: $md3+px) {
      justify-content: space-between;
    }
	}

	// .header__logo
	&__logo {
    position: relative;
    z-index: 2;
    width: 144px;
    @media (max-width: $md3+px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
	}

	// .header__menu
	&__menu {
	}

	// .header__actions
	&__actions {
	}
}

.menu {
  padding: 0px 0px 0px 30px/950px * 100%;
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    flex: 0 0 auto;
  }
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
    @media (max-width: $md3+px) {
      background-color: rgba(28, 36, 42, 0.95);
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: auto;
      padding: 130px 0px 20px 0px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      text-align: center;
      &:after {
        content: "";
        background-color: #1c242a;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
      }
      &._active {
        opacity: 1;
        visibility: visible;
      }
    }
	}

	// .menu__list
	&__list {
    display: flex;
    justify-content: center;
    li {
      margin: 0px 15px;
    }
    @media (max-width: $md3+px) {
      display: block;
      li {
        margin: 0px 0px 30px 0px;
        &:last-child {
          margin: 0px 0px 0px 0px;
        }
      }
    }
	}

	// .menu__link
	&__link {
    font-family: "PFDin";
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #fff;
    transition: color 0.3s ease;
    &._active {
      color: #bb9c66;
    }
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $md3+px) {
      font-size: 24px;
    }
	}
}

// Меню Бургер
.icon-menu {
  @media (max-width: $md3+px) {
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      @include anim(0.3s,0s);
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #bb9c66;
      &:first-child {
        top: 0px;
      }
      &:last-child{
        top: auto; 
        bottom: 0px;
      }
    }
    &._active{
      span{@include scale(0);
        &:first-child{@include rotate(-45deg);top: calc(50% - 1px);}
        &:last-child{@include rotate(45deg);bottom: calc(50% - 1px);}
      }
    }
	}
}

.actions-header {
  display: flex;
  align-items: center;
	// .actions-header__region
	&__region {
    position: relative;
    z-index: 2;
    @extend .menu__link;
    padding: 0px 0px 0px 30px;
    line-height: 18px;
    min-width: 18px;
    min-height: 18px;
    background: url('../img/icons/globe.png') left no-repeat;
    @media (max-width: 890px) {
      padding: 0px 0px 0px 0px;
      span {
        display: none;
      }
    }
    @media (max-width: $md3+px) {
      margin: 50px 0px 0px 0px;
      display: inline-block;
      padding: 0px 0px 0px 30px;
      span {
        display: inline-block;
      }
    }
	}

	// .actions-header__user
	&__user {
    margin: 0px 0px 0px 30px;
    @media (max-width: 890px) {
      margin: 0px 0px 0px 15px;
    }
	}
}

.user-header {
	// .user-header__icon
	&__icon {
    position: relative;
    z-index: 2;
    cursor: pointer;
	}

	// .user-header__menu
	&__menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    top: 88px;
    right: 0;
    position: absolute;
    background-color: #1c242a;
    padding: 20px;
    min-width: 176px;
    li {
      margin: 0px 0px 8px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
    @media (max-width: $md3+px) {
      width: 100%;
    }
    &._active {
      opacity: 1;
      visibility: visible;
      top: 78px;
    }
	}

	// .user-header__link
	&__link {
    //line-height: 25px;
    color: #fff;
    padding: 0px 0px 0px 30px;
    display: inline-block;
    line-height: 18px;

		// .user-header__link_1
		&_1 {
      background: url("../img/icons/menu/01.png") 1px center no-repeat;
		}

		// .user-header__link_2
		&_2 {
      background: url("../img/icons/menu/02.png") left center no-repeat;
		}

		// .user-header__link_3
		&_3 {
      background: url("../img/icons/menu/03.png") 4px center no-repeat;
		}

		// .user-header__link_4
		&_4 {
      background: url("../img/icons/menu/04.png") left center no-repeat;
    }
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
	}
}
