// Слайдер Slick

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}


/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}


/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}


/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}


/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}



// Слайдер главного экрана
.main-slider {
  position: relative;
	// .main-slider__body
	&__body {
	}

	// .main-slider__item
	&__item {
	}

	// .main-slider__control
	&__control {
		position: absolute;
		left: 50%;
		bottom: 0px;
		transform: translate(-50%, 50%);
		width: 100px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:after {
			content: "";
			background-color: #fff;
			position: absolute;
			width: 75%;
			height: 75%;
			transform: rotate(45deg);
		}
	}
}

.control-main-slider {
  .slick-arrow {
    position: relative;
    z-index: 2;
    background: url('../img/icons/arrow.png') 0 0 no-repeat;
    width: 14px;
    height: 24px;
    cursor: pointer;
    font-size: 0;
  }
  /* Стрелка влево */
  .slick-prev {
    transform: rotate(-180deg);
  }
  /* Стрелка вправо */
  .slick-next{
  }

	// .control-main-slider__decor
	&__decor {
		position: relative;
		z-index: 2;
		margin: 0px 12px;
		animation: rotate 5s infinite linear;
	}
}

.item-main-slider {
	text-align: center;
	padding: 30px 0px 100px 0px;
	position: relative;
  // .item-main-slider__container
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
  }
	// .item-main-slider__content
	&__content {
		position: relative;
    z-index: 2;
    height: 100%;
	}
	
	// .item-main-slider__text
	&__text {
		max-width: 700px;
		margin: 25px auto 0px auto;
		font-size: 15px;
		line-height: calc(25 / 15);
    color: #fff;
    flex: 1 1 auto;
	}

	// .item-main-slider__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	// .item-main-slider__btn
	&__btn {
		margin: 55px 0px 0px 0px;
	}
}


@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

