//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular&display=swap&subset=cyrillic-ext");
@import "fonts.scss";

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "PT Sans";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 970; // Начальное значение ширины контента (по макету)
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0 10px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
//@import "popup.scss";
@import "header.scss";
//@import "footer.scss";
//@import "home.scss";
@import "slider.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================


//===========================================================================================================
/*
	//Burger
	.icon-menu {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: calc(50% - 1px);left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto; bottom: 0px;}
		}
		&._active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: calc(50% - 1px);}
				&:last-child{@include rotate(45deg);bottom: calc(50% - 1px);}
			}
		}
	}
*/


//</ОСНОВНОЙ БЛОК>====================================================================================================


//</БЛОК "ЛОТЫ ПОД АУКЦИОН">===========================================================================================================
.lots {
	padding: 85px 0px 63px 0px;
	// .lots__container
	&__container {
	}

	// .lots__header
	&__header {
		margin: 0px 0px 40px 0px;
	}

	// .lots__slider
	&__slider {
	}
}

.slider-lots {
	// .slider-lots__body
	&__body {
		margin: 0px -50px 50px;
		@media (max-width: 975px) {
			margin: 0px -15px 50px;
		}
	}

	// .slider-lots__slide
	&__slide {
		padding: 0px 50px;
		@media (max-width: 975px) {
			padding: 0px 15px;
		}
	}

	// .slider-lots__control
	&__control {
	}
}

.control-slider-lots {
	display: flex;
	justify-content: center;
	align-items: center;
	// .control-slider-lots__arrow
	&__arrow {
		cursor: pointer;
		display: flex;
		align-items: center;
		svg {
			width: 109px;
			height: 36px;
			flex: 0 0 109px;
			@media (max-width: 450px) {
				flex: 0 0 50px;
				width: 50px;
			}
		} 
		&:after {
			content: "";
			margin: 0px 5px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 1px solid #bb9c66;
		}
		&:last-child {
			flex-direction: row-reverse;
		}
	}
	&:last-child {
		.control-slider-lots__arrow:after {
			flex-direction: row-reverse;
		}
	}

	// .control-slider-lots__link
	&__link {
		background: url('../img/icons/circle.png') 0 0 no-repeat;
		flex: 0 0 100px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'PFDin';
		text-transform: uppercase;
		font-size: 21px;
		font-weight: 500;
		color: #000;
		margin: 0px 20px;
	}
}

//</БЛОК "КАТЕГОРИИ">===========================================================================================================
.categories {
	// .categories__items
	&__items {
		margin: 0px 0px 85px 0px;
	}

	// .categories__container
	&__container {
		position: relative;
		overflow: hidden;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 45px;
			background-color: #fff;
		}
	}

	// .categories__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -50px;
		position: relative;
		padding: 33px 0px 0px 0px;
		&:before,
		&:after {
			content: "";
			width: 24px * 0.72;
			height: 24px * 0.72;
			flex: 0 0 24px * 0.72;
			margin: 0px 0px 0px 1px;
			transform: translate(-50%, 0px) rotate(45deg);
			border: 1px solid #bb9c66;
			top: 3px;
			position: absolute;
		}
		&:before {
			left: 33.333%;
			@media (max-width: 975px) {
				left: 50%;
				margin: 0px 0px 0px 0px;
			}
		}
		&:after {
			left: 66.667%;
			@media (max-width: 975px) {
				display: none;
			}
		}
	}

	// .categories__column
	&__column {
		flex: 0 1 33.333%;
		padding: 0px 50px 25px; 
		margin: 0px 0px 25px 0px;
		position: relative;
		display: flex;
		justify-content: center;
		&:before {
			content: "";
			width: 10px;
			height: 10px;
			flex: 0 0 10px;
			border-radius: 50%;
			left: 50%;
			bottom: -5px;
			transform: translate(-50%, 0px);
			background-color: #bb9c66;
			position: absolute;
		}
		@media (max-width: 975px) {
			flex: 0 1 50%;
		}
		@media (max-width: 650px) {
			flex: 1 1 100%;
		}
	}

	// .categories__item
	&__item {
	}

	// .categories__decor
	&__decor {
		position: absolute;
		top: 0;
		right: 0;
		width: 24px;
		height: calc(100% + 23px);
		transform: translate(50%, 0px);
		display: flex;
    flex-direction: column;
		align-items: center;
		z-index: 5;
		&:before { // палочка
			content: "";
			width: 1px;
			flex: 1 1 auto;
			background-color: #bb9c66;
		}
		&:after { // квадрат
			content: "";
			width: 24px * 0.72;
			height: 24px * 0.72;
			flex: 0 0 24px * 0.72;
			transform: rotate(45deg);
			border: 1px solid #bb9c66;
			margin: 15px 0px;
		}
		span {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			&:before { // кружок
				content: "";
				width: 10px;
				height: 10px;
				flex: 0 0 10px;
				border-radius: 50%;
				background-color: #bb9c66;
				margin: 20px 0px;
			}
			&:after { // палочка
				content: "";
				width: 1px;
				flex: auto 1 1;
				background-color: #bb9c66;
			}
		}
	}

	// .categories__text
	&__text {
	}
}

.text-categories {
	color: #333333;
	font-family: "PT Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: calc(25 / 15);
	p {
		margin: 0px 0px 25px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .text-categories__container
	&__container {
	}

	// .text-categories__body
	&__body {
		padding: 10px 0px 25px 130px;
		background: url("../img/categories/decor.png") left top repeat-y;
		position: relative;
		&:before {
			content: "";
			background: url("../img/categories/decor_header.png") 0 0 no-repeat;
			position: absolute;
			top: -5px;
			left: 0;
			width: 85px;
			height: 10px;
		}
	}
}

